.week {
    background: #131313;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    padding-top: 17px;
}

.week__yesterday {
    color: gray;
    padding-left: 17px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

.week__span {
    padding-right: 17px;
}
