@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {

}

.App {
    height: 100vh;
    background: black;
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    overflow: hidden;
}

.App__slider {
    display: flex;
    width: 180vw;
}

.App__info {
    position: relative;
    overflow: auto;
    width: 100vw;
    box-sizing: border-box;
    background: black;
    height: 100vh;
    padding-bottom: 20px;
}

p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto, serif;
}

.alert {
    text-align: center;
    font-size: 32px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button {
    text-decoration: none;
    outline: none;
    border: none;
}

input {
    text-decoration: none;
    outline: none;
    border: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

