@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  background: black;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 10px;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

